Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
/trunk/output
/trunk/output/Debug/Modules
/trunk/output/Debug/Library/*.pdb
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
samples/
/trunk/lib/SharedSources/ConfOrm
/trunk/tools
unsure/
!Debug.zip
!/trunk/output/Debug/log4net.dll
/trunk/output/Debug/Languages
/trunk/output/Debug/Resources
/trunk/lib/SharedLibs/NHProfiler/HibernatingRhinos.Profiler.Appender.dll
/trunk/lib/SharedLibs/NHProfiler/HibernatingRhinos.Profiler.BackEnd.dll
/trunk/lib/SharedLibs/NHProfiler/HibernatingRhinos.Profiler.Integration.dll
trunk/src/Ribbon_Report.htm
